h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #7f1954;
  text-align: center;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #007bc1;
  text-align: center;
}

h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #434647;
  text-align: center;
}

fieldset {
  min-width: 80%;
  border-radius: 10px;
  background: #ffffff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 2px groove threedface;
}

/*select*/

.select-option select,
.select-option select {
  background: #ffffff;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 94%;
  margin-left: 0%;
  margin-right: 0%;
  height: 30px;
  line-height: 40px;
  padding-left: 10px;
  border-radius: none;
  margin-bottom: 5px;
  -moz-appearance: none;
  color: #007bc1;
}

/*parrafos*/

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #7f1954;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

p.result {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(127, 25, 84);
  font-size: 40px;
}
p.error {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(127, 25, 84);
  font-size: 25px;
}

/*number*/

input[type="number"] {
  font-size: 1em;
  width: 7em;
  padding: 3px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

input[type="number"]:focus {
  outline: none;
}

/* para sacar las flechas en el input*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* -------------- Button Base -------------- */

.button,
.buttonbar a {
  cursor: pointer;
  text-decoration: none;
  display: inline-table;
  position: relative;
  top: 10px;
  color: #007bc1;
  background-repeat: repeat-x;
  background-color: #ededed;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  padding: 0 16px;
  height: 30px;
  width: 25%;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ddd;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:active,
.buttonbar a:active,
.buttonbar a.active {
  background-color: #e1e1e1;
  background-image: -moz-linear-gradient(top, #e1e1e1 0%, #c1c1c1 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #e1e1e1),
    color-stop(100%, #c1c1c1)
  );
}

/* -------------- Colors -------------- */

a.color {
  color: #fff;
  border: solid 1px #7f1954;
  background-color: #007bc1;
}
